.main {
    padding-top: 30px;
    margin: 40px;
    margin-bottom: 140px;
    margin-left: 130px;
    background-color: rgb(11, 11, 11);
    opacity: 0.8;

    color: rgb(206, 222, 222);
    border: 3px;
    border-radius: 0.2cm;
    border-color: rgb(194, 194, 194);
    border-style: double;


}

.newLOcation {
    background-color: rgb(0, 0, 0);
    opacity: 0.95;
    height: 400px;
    border: 0.5px;
    border-color: rgb(97, 96, 96);
    border-radius: 0.1cm;
    border-style: double;
}

.newLOcation h3 {
    color: rgb(192, 192, 192);
    font-size: 16px;
    border: 0.5px;
    border-color: rgb(66, 65, 65);
    border-radius: 0.1cm;
    border-style: double;
}

.tabel {
    margin: 35px;
    margin-left: 90px;
    font-size: 0.9em;
}

.tabelHead {
    color: rgb(205, 204, 204);
}

.LocationName {
    color: rgb(160, 173, 186);
    font-size: 18px;
    text-shadow: 1px 1px 2px #5c5c5c;
    padding-left: 10%;
}

#time {
    padding-left: 60px;
}